{% extends 'base.html.twig' %}

{% block body %}

<!-- about
================================================== -->
    <section style="background-color: white;">
        <div class="row " style="background-color: white;">
            <center><h2 style="margin-top: 0 !important;padding-top:15px;"> Veille Technologique </h2></center>
            <center><h4> PHP et son framework Symfony </h4></center>

            <div class="col-md-12" style="margin-top:20px;">
                <div class="thumbnail"><p> <b>La veille technologique</b>, élément de la veille stratégique,  consiste à surveiller les évolutions techniques, les innovations dans un secteur d’activité donné. La veille technologique comprend notamment la surveillance, la collecte, le partage et la diffusion d’information permettant d’anticiper ou de s’informer sur des changements en matières de Recherche, Développement, Brevet, Lancement de nouveaux produits, matériaux, processus, concepts, innovation de fabrication…afin d’évaluer l’impact sur l’environnement et l’organisation.<br><p>
                        J'ai donc choisi d'effectuer ma veille sur le langage PHP et son framework Symfony.<br>

                    <p> <b>PHP</b> est un langage de scripts généraliste et Open Source, spécialement conçu pour le développement d'applications web. Il peut être intégré facilement au HTML.<br>
                        Ce qui distingue PHP des langages de script comme le Javascript, est que <b>le code est exécuté sur le serveur</b>, générant ainsi le HTML, qui sera ensuite envoyé au client.<br></p>
                    <p><b>Symfony</b> est un ensemble de composants PHP ainsi qu'un <b>framework MVC libre écrit en PHP</b>. Il fournit des fonctionnalités modulables et adaptables qui permettent de faciliter et d’accélérer le développement d'un site web.<br>
                        Symfony propose entre autres :<br>

                        -une <b>séparation du code en trois couches, selon le modèle MVC</b>, pour une plus grande maintenabilité et évolutivité ;<br>
                        -des <b>performances optimisées et un système de cache</b> afin d'assurer des temps de réponse optimaux ;<br>
                        -une <b>gestion des URL</b> parlante, permettant à une page d'avoir une URL distincte de sa position dans l'arborescence ;<br>
                        -un <b>système de configuration en cascade</b> utilisant pleinement le langage YAML ;<br>
                        -un <b>générateur de back-office</b> et un lanceur de module (scaffolding) ;<br>
                        -l'internationalisation native ;<br>
                        -le support d'AJAX ;<br>
                        -une <b>architecture extensible</b> permettant créations et utilisations de plugins.<br>
                        Symfony fournit une interface en ligne de commande pour améliorer la productivité en créant un code de base modifiable à volonté. </p>

                    <!-- start feedwind code --> <div class="row text-center" style="margin-top:50px; ">
                        <div class="col-md-4">
                            <div class="thumbnail"><!-- start feedwind code --> <iframe src="https://feed.mikle.com/widget/v2/47520/" height="600" frameborder="0" width="100%" ></iframe> <!-- end feedwind code --></div></div>

                        <!-- start feedwind code -->
                        <div class="col-md-4">
                            <div class="thumbnail"><!-- start feedwind code --> <iframe src="https://feed.mikle.com/widget/v2/47573/" height="600" frameborder="0" width="100%" ></iframe> <!-- end feedwind code --></div></div>

                        <div class="col-md-4">
                            <div class="thumbnail"><!-- start feedwind code --> <iframe src="https://feed.mikle.com/widget/v2/47575/" height="600" frameborder="0" width="100%" ></iframe> <!-- end feedwind code --></div></div>
                    </div>
                    <div class="row text-center" style="margin-top:0px; ">
                        <div class="col-md-4">
                            <div class="thumbnail"><!-- start feedwind code --> <iframe src="https://feed.mikle.com/widget/v2/47577/" height="600" frameborder="0" width="100%" ></iframe> <!-- end feedwind code --></div></div>

                        <div class="col-md-4">
                            <div class="thumbnail"><!-- start feedwind code --> <iframe src="https://feed.mikle.com/widget/v2/47579/" height="600" frameborder="0" width="100%" ></iframe> <!-- end feedwind code --></div></div>
                    </div>
                </div>
    </section>



    <footer>
        <div class="row footer-bottom">

            <div class="col-twelve">
                <div class="copyright">
                    <span>© Copyright Matthieu PARIS 2018</span>

                </div>

                <div class="go-top">
                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                </div>
            </div>

        </div> <!-- end footer-bottom -->

    </footer> <!-- end footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> <!-- end photoSwipe background -->


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="line-scale-pulse-out">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

{% endblock %}

